<app-header></app-header>

<div class="content" role="main">

  <mt-slideshow [slides]="slides" animationType="flip"></mt-slideshow>
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }}</span>


  </div>
  <div>
    <!-- Resources -->
    <h2>Portfolio</h2>
    <!-- <app-carousel [carouselItems]="slides" animationType="JackInTheBox"></app-carousel> -->
    <mt-carousel [carouselItems]="slides" animationType="JackInTheBox"></mt-carousel>
    

<router-outlet></router-outlet>